body {
    background: linear-gradient(110deg, #BBDEFB 60%, #42A5F5 60%);
}

.shop {
    font-size: 10px;
}

.space {
    letter-spacing: 0.8px !important;
}

.second a:hover {
    color: #42A5F5;
}

.active-2 {
    color: #42A5F5;
    font-style: bold;
}

.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 0px;
    font-size: 10px;
    color: #aaa !important;
}

.first {
    background-color: white;
}

a {
    text-decoration: none !important;
    color: #aaa;
}

.btn-lg,
.form-control-sm:focus,
.form-control-sm:active,
a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important
}

.form-control-sm:focus {
    border: 1.5px solid #42A5F5;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 0.1rem;
    font-size: 1rem;
    color: white !important;
    background-color: #42A5F5;
    height: 2.8rem !important;
    border-radius: 0.2rem !important;
}

.btn-group-lg>.btn:hover,
.btn-lg:hover {
    background-color: #42A5F5;
}

.btn-outline-primary {
    background-color: #fff !important;
    color: #42A5F5 !important;
    border-radius: 0.2rem !important;
    border: 1px solid #42A5F5;
}

.btn-outline-primary:hover {
    background-color: #42A5F5 !important;
    color: #fff !important;
    border: 1px solid #42A5F5;
}

.card-2 {
    margin-top: 40px !important;
}

.card-header {
    background-color: #fff;
    border-bottom: 0px solid #aaaa !important;
}

p {
    font-size: 13px;
}

.small {
    font-size: 9px !important;
}

.form-control-sm {
    height: calc(2.2em + .5rem + 2px);
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.boxed {
    background-color: #42A5F5;
    color: white;
    text-align: center;
}

.bell {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 767px) {
    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0
    }
}

.text-color {
    color: #42A5F5;
    font-size: medium;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.spinner {
    border-radius: 10px;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
}