<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>User <strong>Management</strong></h2>
                    </div>
                    <div class="col-xs-7">
                        <a href="#" class="btn btn-primary"><em class="material-icons">&#xE147;</em> <span>Add New User</span></a>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" aria-label="User Management">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>
                            <span *ngFor="let role of user.roles">{{role.roleName}}<br/></span>
                        </td>
                        <td>
                            <a href="/update/{{user.userId}}" class="settings" title="Settings" data-toggle="tooltip"><em class="material-icons">&#xE3C9;</em></a>
                            <a (click)="deleteUser(user.userId)" class="delete" title="Delete" data-toggle="tooltip"><em class="material-icons">&#xE5C9;</em></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <strong>{{userList?.length}}</strong> out of <strong>{{userList?.length}}</strong> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>