<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Users <strong>Management</strong></h2>
                    </div>
                    <div class="col-xs-7">
                        <a routerLink="/admin/add-user" routerLinkActive="active" class="btn btn-primary"><em class="material-icons">&#xE147;</em> <span>Add New User</span></a>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" aria-label="User Management">
                <thead>
                    <tr>
                        <th>Profile Image</th>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Auth Provider</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index">
                        <td>
                            <ng-container *ngIf="user.profileImage, else defaultImage">
                                <img src="{{user.profileImage}}" alt="profile image" class="profile-image">
                            </ng-container>
                            <ng-template #defaultImage>
                                <img src="../../../assets/images/defaultProfileImage.png" alt="profile image" class="profile-image">
                            </ng-template>
                        </td>
                        <td>{{user.userId}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span *ngFor="let role of user.roles">{{role.roleName}}<br/></span>
                        </td>
                        <td>
                            {{user.authProvider}}
                        </td>
                        <td>
                            <a href="/admin/user-management/update-user/{{user.userId}}" class="settings" title="Settings" data-toggle="tooltip"><em class="material-icons">&#xE3C9;</em></a>
                            <a type="button" (click)="ifdeleteUser(user.userId)" class="delete" title="Delete" data-toggle="tooltip"><em class="material-icons">&#xE5C9;</em></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <strong>{{userList?.length}}</strong> out of <strong>{{userList?.length}}</strong> entries</div>

            </div>
        </div>
    </div>

</div>