<div class="row">
    <div class="col-xl-4">
        <!-- Product picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Product Picture</div>
            <div class="card-body text-center">
                <!-- Product picture image-->
                <ng-container *ngIf="product.productImage, else defaultImage">
                    <img class="image-size" src="{{product.productImage}}" alt="product image">
                </ng-container>
                <ng-template #defaultImage>
                    <img class="image-size" src="../../../assets/images/defaultProductImage.png" alt="product image">
                </ng-template>

                <!-- Product picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>

                <!-- Product picture upload button-->
                <button (click)="openWidget()" class="btn btn-primary">Upload Image</button>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Product details card-->
        <div class="card mb-4">
            <div class="card-header">Product ID: {{product.productId}}</div>
            <div class="card-body">
                <form #productForm="ngForm" (ngSubmit)="addProduct(product)">
                    <h4 class="heading-small text-muted mb-4">PRODUCT INFORMATION</h4>
                    <!-- Form Group (product name)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputProductName">Product Name</label>
                        <input class="form-control" id="inputProductName" name="inputProductName" type="text" placeholder="Enter product name" [(ngModel)]="product.productName" value="{{product.productName}}" required #productName="ngModel">
                    </div>
                    <!-- Form Group (Product Description)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputProductDescription">Product Description</label>
                        <input class="form-control" id="inputProductDescription" name="inputProductDescription" type="text" placeholder="Enter product description" [(ngModel)]="product.productDescription" value="{{product.productDescription}}" required #productDescription="ngModel">
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (Product Stock)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputProductStock">Product Stock</label>
                            <input class="form-control" id="inputProductStock" name="inputProductStock" type="number" placeholder="Enter the product stock" [(ngModel)]="product.productStock" value="{{product.productStock}}" required #productStock="ngModel" pattern="^\d+$">
                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputProductStock">Stock Threshold</label>
                            <input class="form-control" id="inputProductStock" name="inputStockThreshold" type="number" placeholder="Enter the stock threshold" [(ngModel)]="product.stockThreshold" value="{{product.stockThreshold}}">
                        </div>
                        <!-- Form Group (Unit Price)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputUnitPrice">Unit Price</label>
                            <input class="form-control" id="inputUnitPrice" name="inputUnitPrice" type="text" placeholder="Enter the unit price" [(ngModel)]="product.unitPrice" value="{{product.unitPrice}}" required #unitPrice="ngModel" pattern="^\d+(\.\d\d)?$">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="small mb-1" for="inputProductStock">Product Category</label>
                        <div class="form-check" *ngFor="let category of categoryList">
                            <input class="form-check-input" type="checkbox" value="{{category.categoryId}}" (change)="onCheckboxChange(category,$event)">
                            <label class="form-check-label" for="flexCheckDefault">{{category.categoryName}}</label>
                        </div>
                    </div>

                    <!-- Add Product button-->
                    <button class="btn btn-primary mt-4" [disabled]="productForm.form.invalid" type="submit">Add Product</button>

                </form>
            </div>
        </div>
    </div>
</div>