<div>
  <h1>Add Products</h1>
  <form>
    <div *ngIf="productName.errors && (productName.invalid && productName.touched)">
      <small class="text-danger" [class.d-none]="productName.valid || productName.untouched">Product Name is
        required!</small>
    </div>
    <label for="productName">Product Name : </label>
    <input type="text" id="productName" name="productName" [(ngModel)]="product.productName" required
      #productName="ngModel" [class.is-invalid]="productName.invalid && productName.touched"><br><br>

    <div *ngIf="unitPrice.errors && (unitPrice.invalid && unitPrice.touched)">
      <small class="text-danger" [class.d-none]="unitPrice.valid || unitPrice.untouched">Unit Price is required!</small>
    </div>
    <label for="unitPrice">Unit Price : </label>
    <input type="number" id="unitPrice" name="unitPrice" [(ngModel)]="product.unitPrice" required #unitPrice="ngModel"
      [class.is-invalid]="unitPrice.invalid && unitPrice.touched"><br><br>


    <div *ngIf="productImage.errors && (productImage.invalid && productImage.touched)">
      <small class="text-danger" [class.d-none]="productImage.valid || productImage.untouched">Image link is
        required!</small>
    </div>
    <label for="productImage">Product Image : </label>
    <input type="text" id="productImage" name="productImage" [(ngModel)]="product.productImage" required
      #productImage="ngModel" [class.is-invalid]="productImage.invalid && productImage.touched"><br><br>


    <div *ngIf="productDescription.errors && (productDescription.invalid && productDescription.touched)">
      <small class="text-danger" [class.d-none]="productDescription.valid || productDescription.untouched">Product
        Description is required!</small>
    </div>
    <label for="productDescription">Product Description : </label>
    <input type="text" id="productDescription" name="productDescription" [(ngModel)]="product.productDescription"
      required #productDescription="ngModel"
      [class.is-invalid]="productDescription.invalid && productDescription.touched"><br><br>


    <div *ngIf="productStock.errors && (productStock.invalid && productStock.touched)">
      <small class="text-danger" [class.d-none]="productStock.valid || productStock.untouched">Product Stock is
        required!</small>
    </div>
    <label for="productStock">Product Stock : </label>
    <input type="number" id="productStock" name="productStock" [(ngModel)]="product.productStock" required
      #productStock="ngModel" [class.is-invalid]="productStock.invalid && productStock.touched"><br><br>


    <button (click)="addProduct(product)">Add Product</button>
  </form>
  <a href="./inventory" type="button">Go Back</a>
</div>