<h1>Good Buy is a home grown tech store ready and willing to ship you top quality tech and discount rates!</h1>
<div>
    <section class="view intro-2">
        <h2>We Are:</h2>
            <div>
                <h3>
                    Samuel Hobbs
                </h3>
                <h3>
                    Tyler Cruz
                </h3>
                <h3>
                    Alice Huong Nguyen
                </h3>
                <h3>
                    Issac Gaona
                </h3>
                <h3>
                    Deeprangshu Pal
                </h3>
                <h3>
                    Brooke Ghiasi
                </h3>
                <h3>
                    Elson Scaria
                </h3>
                <h3>
                    Christopher Craze
                </h3>
            </div>
    </section>
</div>