/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import '~mdb-ui-kit/css/mdb.min.css';
@font-face {
    font-family: "Quicksilver";
    src: url("/assets/fonts/Quicksilver_Italic.ttf");
}


@font-face {
    font-family: "CocoGothic";
    src: url("/assets/fonts/CocoGothic_trial.ttf");
}


@font-face {
    font-family: "Timeline";
    src: url("/assets/fonts/Timeline.ttf");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
