<div id="sidebar">
    <h3>CATEGORIES</h3>
    <div class="checklist categories">
        <div class="form-check" *ngFor="let category of categoryList">
            <a [ngClass]="{'active': category.active, '': !category.active}" class="side-nav" (click)="filter(category)">
                <label class="form-check-label" for="flexCheckDefault">{{category.categoryName}}</label>
            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row justify-content-around mt-3">
        <div class="col-6 form-inline">
            <input type="search" class="form-control" id="searchStr" #searchStr name="searchStr" type="text" placeholder="Search...">
            <button type="button" class="btn btn-outline-primary" (click)="search(searchStr.value)">Search</button>
        </div>
        <div class="col-6">
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="searchedProducts?.length" [pageIndex]="currentPage" (page)="handlePage($event)">
            </mat-paginator>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let item of productList;let i = index">
            
            <div class="card col-md-3">
                <img src="{{item.productImage}}" alt="">
                <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.productName}}</h3>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.productDescription}}</p>
                    <p><strong>Score:</strong> {{reviewScores[i].average }} </p>
                <p><strong>Price:</strong> ${{item.unitPrice}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="goToProductDetails(item)">View More</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>