.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

#sidebar {
    float: left;
    background: #fff;
    width: 275px;
    padding: 13px 0 0 45px;
    min-height: 500px;
    border-right: 1px solid #eee;
}

#sidebar h3 {
    color: #262626;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 35px 0 10px 0;
    letter-spacing: 1px;
    clear: both;
}

.side-nav:hover {
    color: blue;
}

a.active {
    color: blue;
}

::ng-deep label.star {
    font-size: 15px !important;
}

::ng-deep label.star:checked {
    text-shadow: none !important;
}

::ng-deep label.star:before {
    text-shadow: none !important;
}