<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">

                        <h2>Orders <strong>Management</strong></h2>

                    </div>
                </div>
            </div>
            <table aria-describedby="A table containing all orders" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th id="Order Id">ID</th>
                        <th id="User ID">Customer Name</th>
                        <th id="Order Date">Date</th>
                        <th id="Total">Total</th>
                        <th id="Shipping Address">Shipping Address</th>
                        <th id="Billing Address">Billing Address</th>
                        <th id="Status">Status</th>
                        <th id="Action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let order of orderList">
                        <tr>
                            <td>{{order?.orderId}}</td>
                            <td>{{order?.user.firstName}} {{order.user.lastName}}</td>
                            <td>{{order?.orderDate | date:'MM-dd-yyyy'}}</td>
                            <td>${{order?.orderTotal}}</td>
                            <td>{{order?.shippingAddress?.street}} {{order.shippingAddress?.unit}} {{order.shippingAddress?.city}} {{order.shippingAddress?.state}} {{order.shippingAddress?.zipcode}} {{order.shippingAddress?.country}}</td>
                            <td>{{order?.billingAddress?.street}} {{order.billingAddress?.unit}} {{order.billingAddress?.city}} {{order.billingAddress?.state}} {{order.billingAddress?.zipcode}} {{order.billingAddress?.country}}</td>

                            <td>{{order?.orderStatus}}</td>
                            <td>
                                <a type="button" href="/admin/order-management/view-order/{{order.orderId}}" class="settings" title="Settings" data-toggle="tooltip"><em
                                                    class="material-icons">&#xe8f4;</em></a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>


        </div>

    </div>