<div class="container d-flex justify-content-center">
    <div class="col mt-4">
        <img src="{{product.productImage}}" class="image-size" alt="product image">

        <h2 class="mt-4">{{product.productName}}</h2>

        <div>
            <h4>Category:</h4>
            <div *ngFor="let category of product.categories">
                {{category.categoryName}}
            </div>
        </div>
        <br />
        <p>{{product.productDescription}}</p>
        <p><strong>Price:</strong> ${{product.unitPrice}}</p>
        <div class="col mt-4">
            <div class="row-md">
                <button class="btn btn-primary" (click)=addtocart(product)>Add to cart</button>

            </div>
            <div class="row-md mt-4">
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div>

        </div>
    </div>
    <div class="col mt-4">
        
        <div class="container">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Past Customer Reviews</h2>

                    </div>
                </div>
            </div>
            <table aria-describedby="A table containing all reviews" class="table">
                <tbody>
                    <div *ngFor="let item of userReviews">
                        <tr>
                            <td>{{item.user.firstName}}</td>
                            <td>Rating: {{item.score}}</td>
                            <td>{{item.review}}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <form id="reviewForm" #reviewForm="ngForm" (ngSubmit)="submitReview(newReview)">
            <div class="pinfo">Rate our product!</div>


            <div class="form-group">
                <div class=" inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-star"></i></span>
                        <select required="required" class="form-control selectpicker" id="inputReviewScore" name="inputReviewScore" [(ngModel)]="newReview.score" #score="ngModel">
                            <option value="" disabled selected>SELECT RATING</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="pinfo">Leave a reveiw!</div>
            <div class="form-group">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        <input [(ngModel)]="newReview.review"type="text" id="inputReviewText" name="inputReviewText" minlength="0" maxlength="500" size="80" #review="ngModel" placeholder="Enter review here">
                    </div>
                </div>
            </div>

            

<button type="submit" click='submitReview(newReview)' class="btn btn-primary">Submit</button>
        </form>
    </div>


    <br />