.image-size {
    width: 300px;
    height: auto;
}

.container {
    text-align: center;
}

.cont {
    max-width: auto;
    text-align: center;
}

div.stars {
    width: auto;
    display: inline-block;
}

textarea {
    width: auto;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.profile-image {
    width: 300px;
    height: auto;
}

.review-star {
    width: 100px;
    display: inline-block;
}

::ng-deep label.star {
    font-size: 15px !important;
}

::ng-deep label.star:checked {
    text-shadow: none !important;
}

::ng-deep label.star:before {
    text-shadow: none !important;
}

.card {
    width: 600px;
}