<div class="container d-flex justify-content-center">
    <div class="col">
        <br/>
        <h1> {{product.productName}}</h1>

        <img src="{{product.productImage}}" class="image-size" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.productName}}</h5>
        <p>{{product.productDescription}}</p>
        <p><strong>Price:</strong> ${{product.unitPrice}}</p>

        <button class="btn btn-primary" (click)=addtocart(product)>Add to cart</button>
    </div>
</div>
<br/>