<!doctype html>
<html lang="en">

<head>
    <title>Orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>

    </style>

</head>
<body>
    
    <table class="table" aria-label="Orders">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let order of orderList">
            <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.orderTotal}}</td>
                <td>{{order.orderStatus}}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>


</body>
</html>