<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Inventory <strong>Management</strong></h2>
                    </div>
                    <div class="col-xs-7">

                        <a routerLink="/admin/inventory-management/add-product" class="btn btn-primary" style="float: right;"><em class="material-icons">&#xE147;</em> <span>Add New Product</span></a>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" aria-label="Product Management">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                        <th>Stock Threshold</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList; let i = index">
                        <td>{{i+1}}</td>
                        <td><img src="{{product.productImage}}" alt="product image" style="width: 120px;" /></td>
                        <td>{{product.productName}}</td>
                        <td>${{product.unitPrice}}</td>
                        <td>{{product.productStock}}</td>
                        <td>{{product.stockThreshold}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>
                            <span *ngFor="let category of product.categories">{{category.categoryName}}<br/></span>
                        </td>
                        <td>
                            <a type="button" href="/admin/inventory-management/update-product/{{product.productId}}" class="settings" title="Settings" data-toggle="tooltip"><em class="material-icons">&#xE3C9;</em></a>
                            <a type="button" (click)="ifDeleteProduct(product.productId)" class="delete" title="Delete Product" data-toggle="tooltip"><em class="material-icons">&#xE5C9;</em></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <strong>{{productList?.length}}</strong> out of
                    <strong>{{productList?.length}}</strong> entries
                </div>

            </div>
        </div>
    </div>
</div>