<section class="view intro">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid nav-bar">

            <div class="logo">
                <a href="/home-page">
                    <img src="../../../assets/images/logo.png" alt="logo" class="logo_size" />
                </a>
            </div>
            <div class="d-flex align-items-center right-element">
                <div class="nav-item dropdown-center">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            MY ACCOUNT
                          </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <ng-container *ngIf="!isLoggedIn">
                            <li><a class="dropdown-item" href="/auth/login">Sign in</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/auth/registration">Sign up</a></li>

                        </ng-container>
                        <ng-container *ngIf="isDatabaseLoggedIn">
                            <ng-container *ngIf="isAdmin">
                                <li class="nav-item">
                                    <a class="dropdown-item" href="/admin">Admin Panel</a>
                                </li>
                            </ng-container>
                            <li><a class="dropdown-item" href="/user-profile">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Sign out</a></li>

                        </ng-container>
                        <!-- If log in with Okta -->
                        <ng-container *ngIf="(isAuthenticated$  | async) === true">
                            <li><a class="dropdown-item" href="/user-profile">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Sign out from Okta</a></li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="nav-bar">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/home-page">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">PRODUCTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
            </li>
        </ul>
    </div>

    <div class="button-wrapper">
        <div class="splash-button">
            <a class="splash-text" href="/products">Shop Now</a>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="logoutModalLabel">Sign Out</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to sign out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No, Thanks!</button>
                <button type="button" class="btn btn-danger" (click)="logout()">Sign Out</button>
            </div>
        </div>
    </div>
</div>