<div>
    <h1>Account Management for User {{getUrl()}}</h1>
    <form>
        <label for="uname">Username : </label>
        <input type="text" id="uname" name="uname" [(ngModel)]="user.userName" value="{{user.userName}}"><br><br>
        <label for="fname">First name : </label>
        <input type="text" id="fname" name="fname" [(ngModel)]="user.firstName"><br><br>
        <label for="lname">Last name : </label>
        <input type="text" id="lname" name="lname" [(ngModel)]="user.lastName"><br><br>
        <label for="email">Email : </label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" readonly disabled><br><br>
        <label for="password">Password : </label>
        <input type="text" id="password" name="password" [(ngModel)]="user.password" value="{{user.password}}" readonly disabled><br><br>
        <button (click)="userUpdate(getUrl(),user)">Update</button>
      </form>
</div>