<div class="container-xl px-4 mt-4" style="min-height: 80vh">
    <!-- Account page navigation-->
    <nav class="nav nav-borders justify-content-center">
        <a class="nav-link" href="/user-profile">Overview</a>
        <a class="nav-link" href="/my-profile">My Profile</a>
        <a class="nav-link" href="/user-profile-order-history">My Orders</a>
        <a class="nav-link active" href="/user-profile-security">Security</a>

    </nav>
    <hr class="mt-0 mb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Change password card-->
            <ng-container *ngIf="(isAuthenticated$  | async) === false">
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <!-- Form Group (current password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="current_password">Current Password</label>
                                <input formControlName="current_password" class="form-control" id="current_password" type="password" placeholder="Enter current password" [(ngModel)]="passwordDTO.currentPassword">
                                <div *ngIf="f.current_password.touched && f.current_password.invalid" class="alert alert-danger">
                                    <div *ngIf="f.current_password.errors?.required">Current Password is required.</div>
                                </div>
                            </div>
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="password">New Password</label>
                                <input formControlName="password" class="form-control" id="password" type="password" placeholder="Enter new password">
                                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                                    <div *ngIf="f.password.errors?.required">New Password is required.</div>
                                </div>

                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirm_password">Confirm Password</label>
                                <input formControlName="confirm_password" class="form-control" id="confirm_password" type="password" placeholder="Confirm new password" [(ngModel)]="passwordDTO.newPassword">
                                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                                    <div *ngIf="f.confirm_password.errors?.required">Password is required.</div>
                                    <div *ngIf="f.confirm_password.errors?.confirmedValidator">New Password and Confirm Password must be match.</div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>
                        </form>
                    </div>
                </div>
            </ng-container>

            <!-- Delete account card-->
            <div class="card mb-4">
                <div class="card-header">Delete Account</div>
                <div class="card-body">
                    <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                    <button class="btn btn-danger-soft text-danger" (click)="deleteCurrentUser()" type="button">I understand, delete my account</button>
                </div>
            </div>
        </div>
    </div>
</div>