<body>
    <div class="container bg-white pb-5">
        <div class="row d-flex justify-content-start align-items-center mt-sm-5">

            <div class="col-lg-5 col-10">

                <div class="pb-5">
                    <a href="/home-page">
                        <img src="../../../assets/images/logo.png" alt="logo" class="logo_size" /> <span class="ml-3 logo_text">Good Buy</span>
                    </a>
                    <img src="https://img.freepik.com/free-vector/authentication-concept-illustration_114360-2168.jpg?size=338&ext=jpg&ga=GA1.2.777073396.1599399655" alt="">
                </div>
            </div>

            <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">

                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <ng-container *ngIf="!isLoggedIn, else signout">
                        <h6 class="mb-0 ml-5 pb-3"><span class="color">Sign In </span><span class="color">Registration</span></h6> <input class="checkbox" type="checkbox" [checked]="isRegistration" id="reg-log" name="reg-log" /> <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">

                                            <form #loginform="ngForm" (ngSubmit)="loginUser()">
                                                <small class="text-danger">{{ msg }}</small>
                                                <h4 class="mb-4 pb-3 sign-in">Please Sign In</h4>
                                                <div class="form-group"> <input type="email" class="form-style" id="floatingInput" autocomplete="off" placeholder="Email" name="logemail" [(ngModel)]="user.email" required #logemail="ngModel" [class.is-invalid]="logemail.invalid && logemail.touched">
                                                    <em class="input-icon fa fa-at"></em>

                                                    <div *ngIf="logemail.errors && (logemail.invalid && logemail.touched)">
                                                        <small class="text-danger" [class.d-none]="logemail.valid || logemail.untouched">Email is required!</small>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2"><input type="password" class="form-style" id="floatingPassword" autocomplete="off" placeholder="Password" name="logpass" [(ngModel)]="user.password" required #logpass="ngModel" [class.is-invalid]="logpass.invalid && logpass.touched">
                                                    <em class="input-icon fa fa-lock"></em>

                                                    <small class="text-danger" [class.d-none]="logpass.valid || logpass.untouched">Password is required!</small>
                                                </div><button [disabled]="loginform.form.invalid" class="btn mt-4" type="submit">Sign in</button>
                                            </form>
                                            <hr class="sign-in" />
                                            <h3 class="sign-in">Or</h3>
                                            <button class="btn btn-block bg-white rounded" (click)="oktaLogin()"><span class="fa fa-sign-in text-primary px-2"></span>Sign In with Okta</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3 sign-in">Registration</h4>
                                            <form class="mx-1 mx-md-4" #registrationForm="ngForm" (ngSubmit)="registerUser()">
                                                <div class="form-group">
                                                    <input type="text" name="userName" class="form-style" placeholder="User Name" [(ngModel)]="registrationUser.userName" required #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" id="userName" autocomplete="off">
                                                    <em class="input-icon fa fa-address-card"></em>
                                                    <div>
                                                        <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required!</small>
                                                    </div>
                                                </div>


                                                <div class="form-group mt-2">
                                                    <input type="text" name="firstName" class="form-style" [(ngModel)]="registrationUser.firstName" required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" placeholder="First Name" id="firstName" autocomplete="off">
                                                    <em class="input-icon fa fa-user"></em>
                                                    <div>
                                                        <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required!</small>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-2">
                                                    <input type="text" name="lastName" class="form-style" [(ngModel)]="registrationUser.lastName" required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" placeholder="Last Name" id="lastName" autocomplete="off">
                                                    <em class="input-icon fa fa-user"></em>
                                                    <div>
                                                        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required!</small>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-2"> <input type="email" name="email" class="form-style" [(ngModel)]="registrationUser.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                                                        placeholder="Email" id="logemail" autocomplete="off">
                                                    <em class="input-icon fa fa-at"></em>
                                                    <div *ngIf="email.errors && (email.invalid && email.touched)">
                                                        <small class="text-danger" *ngIf="email.errors.required">Email is required!</small>
                                                        <small class="text-danger" *ngIf="email.errors.pattern">Email is not valid!</small>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-2"> <input type="password" name="password" class="form-style" [(ngModel)]="registrationUser.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Password"
                                                        id="logpass" autocomplete="off">
                                                    <em class="input-icon fa fa-lock"></em>
                                                    <div>
                                                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required!</small>
                                                    </div>

                                                </div> <button [disabled]="registrationForm.form.invalid" type="submit" class="mt-4 btn btn-primary btn-lg">Register</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #signout>

                        <div class="profile-card">
                            <div class="shield"></div>
                            <h1 class="sign-in" *ngIf="name$ | async as name">
                                Hello {{name}}!
                            </h1>

                            <h1 class="sign-in" *ngIf="currentUser != null">
                                Hello {{currentUser.firstName}}!
                            </h1>
                            <h1 class="sign-in">You're already sign in. Would you like to sign out?</h1>

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-6"><a href="/home-page" class="w-100  btn btn-lg btn-outline-primary">No, Thanks!</a></div>
                            <div class="col-6"><button class="w-100  btn-lg btn-danger" (click)="logout()">SIGN OUT</button></div>
                        </div>

                    </ng-template>
                </div>

            </div>





        </div>
    </div>
</body>