.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

input {
    border: none;
    outline: none;
}

.container {
    border-radius: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
}

@media(min-width:992px) {
    img {
        width: 500px;
        height: 500px;
    }
    .container {
        background: #f2f2f2;
    }
}

@media(max-width:991px) {
    img {
        display: none;
    }
    .container {
        background: #f2f2f2;
    }
}

@media(max-width:768px) {
    img {
        display: none;
    }
}

@media(max-width:567px) {
    img {
        display: none;
    }
    .container {
        margin-left: 0px;
        margin-top: 30px;
    }
}


/* new */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, #5b86e5 0%, #3ed1dc 91%);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    overflow-x: hidden
}

a {
    cursor: pointer;
    transition: all 200ms linear
}

a:hover {
    text-decoration: none
}

.link {
    color: #656565;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7
}

h4 {
    font-weight: 600
}

h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700
}

.section {
    position: relative;
    width: 100%;
    display: block
}

.full-height {
    min-height: 100vh
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 55px;
    height: 16px;
    border-radius: 2px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background: linear-gradient(90deg, #5b86e5 0%, #3ed1dc 91%);
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #EA2C62;
    background-color: #656565;
    content: '';
    z-index: 20;
    top: -5px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg)
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out
}

.login-div {
    width: 150px
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    position: absolute;
    border-radius: 10px;
    border-color: #444444;
    border-width: thin;
    border-style: solid;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden
}

.card-back {
    transform: rotateY(180deg)
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg)
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: black;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #5b86e5;
    transition: all 200ms linear
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.btn {
    border-radius: 4px;
    height: 48px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background: linear-gradient(90deg, #5b86e5 0%, #3ed1dc 91%);
    color: #fff;
}

.btn:active,
.btn:focus {
    background-color: #fff;
    color: #2c45ea;
}

.btn:hover {
    background-color: #fff;
    color: #2c45ea;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear
}

.logo img {
    height: 26px;
    width: auto;
    display: block
}

.color {
    color: #5b86e5;
    font-size: large;
}

.sign-in {
    color: #656565;
}

.logo_size {
    width: 50px;
    height: 50px;
    margin-left: 3em;
}

.logo_text {
    font-size: large;
    font-weight: bold;
}