<section class="view">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <h2>Featured <strong>Products</strong></h2>

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[0]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[0]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[0]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[1]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[1]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[1]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[2]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[2]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[2]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[3]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[3]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[3]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[4]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[4]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[4]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[5]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[5]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[5]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[6]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[6]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[6]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="{{productList[7]?.productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[7]?.productName}}</h4>

                                            <p class="item-price"><strong>${{productList[7]?.unitPrice}}</strong></p>
                                            <a href="/products" class="btn btn-primary">More Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span> d
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span> d
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>