<section class="view">
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <h2>Featured <b>Products</b></h2>

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[0].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[0].productName}}</h4>

                                            <p class="item-price"><b>${{productList[0].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[1].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[1].productName}}</h4>

                                            <p class="item-price"><b>${{productList[1].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[2].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[2].productName}}</h4>

                                            <p class="item-price"><b>${{productList[2].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[3].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[2].productName}}</h4>

                                            <p class="item-price"><b>${{productList[3].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[4].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[4].productName}}</h4>

                                            <p class="item-price"><b>${{productList[4].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[3].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[5].productName}}</h4>

                                            <p class="item-price"><b>${{productList[5].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[6].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[6].productName}}</h4>

                                            <p class="item-price"><b>${{productList[6].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="../../../assets/images/products/{{productList[7].productImage}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{productList[7].productName}}</h4>

                                            <p class="item-price"><b>${{productList[7].unitPrice}}</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span> d
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span> d
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>